.popup__profile-name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-width: 238px;
  margin: 0;
  margin-top: 67px;
  margin-bottom: 0;
  padding: 0 0 13px 0;
  border-color: white;
  border-style: none;
  border-bottom: 1px solid #cecdcd;
}

.popup__profile-name:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .popup__profile-name {
    min-width: 358px;
    margin-top: 42px;
  }
}
